
#Dados no TeamPass
TARGET_WSDL= #
TARGET_USER=
#TARGET_USER= 
TARGET_PASS=#
TARGET_TIMEOUT=60
TARGET_ENDPOINT_OVERRIDE=#
TARGET_INSECURE_SSL=1


API_TOKEN = token_teste
ALLOW_NO_TOKEN=1

HOST=0.0.0.0
PORT=8088
DEBUG=1
THREADS=4
